<h1>Sessions#new</h1>

<h1 class="txt-center">
    Login
</h1>

<%= render "partials/error_flash" %>

<%= render "partials/success_flash" %>

<%= form_tag action="/login", method: "POST" do %>
    <div class="container well margin-top-20 small-container">
    	<div class="bold margin-top-20">
    		Email
    	</div>
    	<div class="margin-top-20">
    		<input name="email" type="email" class="form-control" />
    	</div>
    	<div class="bold margin-top-20">
    		Password
    	</div>
    	<div class="margin-top-20">
    		<input name="password" type="password" class="form-control" />
    	</div>
    	<div class="margin-top-20">
    		<a href="/" class="btn btn-default">Cancel</a>
    		<button type="submit" class="btn btn-primary">Login</button>
    	</div>
        <div class="margin-top-10">
            <a href="#">Need an account? Signup here</a>
        </div>
    </div>
<% end %>
