
<nav>
  <div class="nav-wrapper">
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">VagaBond</i></a>
    <ul class="right">
      <li><%= link_to 'log in', login_path %></li>
      <li><%= link_to 'sign up', users_new_path %></li>
    </ul>
  </div>
</nav>
