<h1>Cities#index</h1>
<% @cities.each do |city| %>
	<div class="row">
	  <div class="col s12 m7">
	    <div class="card">
	      <div class="card-image">
	        <img src="<%= city.image_url %>">
	      </div>
	      <div class="card-content">
	        <p class="card-title">name: <%= city.name %></p>
					

	      </div>
	    </div>
	  </div>
	</div>
<% end %>
