<h1>Posts#edit</h1>

<div class="row">
  <%= form_for [@city, @post], method: "put" do |f| %>
    </div>
      <div class="row">
        <div class="input-field col s12">
          <%= f.text_field :name %>
          <label for="name">Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= f.text_field :content %>
          <label for="content">Content</label>
        </div>
      </div>
    <%= f.submit "Submit" %>
  <% end %>
</div>
